BIDS_CHB-MIT.zip
*.zip
/BIDS_Siena
tutorial.ipynb
eeg-seizure-detection.py
C:\Users\user\Documents\eeg_data_challenge\physionet.org
physionet.org\files\siena-scalp-eeg\1.0.0
physionet.org\files\siena-scalp-eeg\1.0.0\README
best_model_fold_1.pth
physionet.org
/mnt/c/Users/user/Documents/eeg_data_challenge/predict.py
predict.py